@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

.logo__text--black {
    color: #3A3A3A;
    font-weight: 800;
    display: inline-block;
    margin-right: 10px;
}

.logo__text--orange {
    color: #FF6347;
    font-weight: 400;
    display: inline-block;
}

